#header {
    background-color: var(--dark-mode-element-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0rem 3rem;

    #toggle-theme {
        display: flex;
        align-items: center;
    }
}