@media (max-width: 870px) {
    #countries {
        #country-list {
            grid-template-columns: auto auto;
        }
    }
}

@media (max-width: 600px) {
    .App {
        padding-bottom: 3rem;
    }

    #header {
        padding: 0%;
        justify-content: space-around;
    }

    #countries {
        #filters {
            flex-direction: column;
            align-items: baseline;

            gap: 1rem;

            #search {
                width: 100%;
            }
        }

        #country-list {
            grid-template-columns: auto;
        }
    }

    .country-details {
        grid-template-columns: auto;

        .details {
            grid-template-columns: auto;
        }
    }
}