.App {
    background-color: var(--dark-mode-background);
    font-family: var(--nunito-sans-font-family);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    height: 100vh;
}